{% extends "base.html" %}
{% block content %}
  <main class="container py-3">
    <div class="row g-5">
      <div class="col-md-8">
        <article class="blog-post">
          <h2 class="blog-post-title">{{ post.title }}</h2>
          <p class="blog-post-meta">{{  post.pub_date|date:'d M Y' }}</p>
          <h5 class="blog-post-title">{{ post.subheader }}</h5>
          <hr>
          {% load thumbnail %}
          {% thumbnail post.image "300x300" crop="center" upscale=True as im %}
            <img src="{{ im.url }}" class="rounded float-end" height="250" alt="картинка к статье">
          {% endthumbnail %}
          <p>{{ post.text|linebreaksbr }}</p>

        </article>
        <div>
          {% include "likes_comments.html" with post=post %}
      </div>

    </div>
    {% include "also_section.html" with also_list=also_list %}
  </main>
{% endblock %}
