{% if also_list %}
<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">
      <h4 class="fst-italic">Еще:</h4>
      {% for post in also_list %}
        <div class="p-4 mb-3 bg-light rounded position-relative">
          <h5>{{ post.title }}</h5>
          <p class="mb-0">{{ post.subheader }}</p>
          <a
            href="{% url 'post_view' post.id %}" 
            class="stretched-link">
            Читать...
            </a>
        </div>
      {% endfor %}
    </div>
<div>
{% endif %}
