<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}Добро пожаловать в мой личный блог!{% endblock %}
    </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'posts/bootstrap.min.css' %}">
    <style>
      .scrollarea {
        overflow-y: auto;
      }
    </style>
    <script src="{% static 'posts/bootstrap.bundle.min.js' %}"></script>
  </head>

  <body>
    {% include 'nav.html' %}
      {% block content %}

      {% endblock %}
    {% include 'footer.html' %}

  </body>
</html>